body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(93, 95, 152));
    text-align: center;
    color: #fff;
    

}
.container{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-70%);
    width: 80%;
    background-color: rgba(102, 113, 213, 0.5);
    padding: 1em;
    border-radius: 10px;
}
button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: slateblue;
    color: #fff;
    border: none;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    cursor: pointer;
}
button:hover{
    background-color: rgb(38, 210, 133);
}
.final-step,
.second-step{
    display: none;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
#resultado{
    font-size: 15px;
    text-align: start;
    text-justify: inter-word;
}

